/* LaunchPage.css */

.launch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212; /* Dark mode background */
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.section-title-launch {
  font-size: 10rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Vibrant color for the title */
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: 3rem; /* Space between title and button */
}

.launch-button {
  background-color: #ff5722;
  color: #ffffff;
  font-size: 5rem;
  padding: 1.2rem 6rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.launch-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}

.countdown-timer {
  font-size: 20rem;
  margin-top: 2rem;
  font-weight: bold;
}

.video-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.launch-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensure the video covers the screen */
  transition: opacity 2s ease; /* Transition for fade effect */
}